body{
    background: #F5F5F5;
}
.dial-container {
    padding-top:10px;
}
/**
拨测参数设置
 */
.dial-left-setting {
    padding: 4px;
}
.dial-left-setting-panel {
    margin: 2px auto;
    padding: 5px 12px;
    border: 1px solid #D9D9D9;
    background: white;
    border-radius: 3px;
}

.dial-hidde{
    display: none;
}

.dial-title{
    padding: 10px 12px;
    color: white;
    font-size:16px;
    font-weight: bolder;
    border-radius: 3px;
}

/**
右侧任务进度
 */
.dial-right-task {
    padding: 4px;
}
.dial-right-task-panel {
    margin: 2px 0px 8px 0px;
    padding: 5px 12px;
    border: 1px solid #D9D9D9;
    background: white;
    border-radius: 3px;
}

/** 任务详情*/
.dial-right-task-detail {
    padding: 4px 3px;
    position: relative;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    width: 220px;
    height: 240px;
    display: inline-block;
    vertical-align: top;
    margin: 2px;

}

.dial-task-name {
    padding: 5px;
    font-size: 22px;
    font-weight: bolder;
    color: darkgreen;
    text-align: center;
}
.dial-task-ip {
    font-size: 16px;
    font-weight: bolder;
    color: #999999;
    text-align: center;
}

.dial-task-visitcnt-tip {
    font-size: 14px;
    color: #999999;
    margin-right: 6px;
}
.dial-task-visitcnt {
    padding-left: 25px;
    font-size: 20px;
    color: #32434f;
}

.dial-task-rspcode-tip {
    font-size: 14px;
    color: #999999;
    margin-right: 6px;
}
.dial-task-rspcode {
    padding-left: 25px;
    font-size: 20px;
    color: #32434f;
}