<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>拨测客户端</title>
    <link rel="stylesheet" th:href="@{/css/dial.css}" />
    <link rel="stylesheet" th:href="@{/framework/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-2.2.4.js}"></script>


</head>
<body>
<div class="dial-container">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md4 dial-left-setting">
                <div class="dial-title layui-bg-cyan">
                    拨测参数设置&nbsp;<i class="layui-icon">&#xe614;</i>
                </div>
                <div class="dial-left-setting-panel">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">访问URL</label>
                            <div class="layui-input-block">
                                <input type="text" name="url" required  lay-verify="required|url" placeholder="请输入URL"
                                       value="http://dxcdntest.ctdns.net/" autocomplete="off" class="layui-input" >
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">拨测次数</label>
                            <div class="layui-input-block">
                                <input type="text" name="dialCount" required lay-verify="required|number" placeholder="请输入次数"
                                       value="10" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">间隔(ms)</label>
                            <div class="layui-input-block">
                                <input type="text" name="interval" required lay-verify="required|number" placeholder="请输入每次访问间隔"
                                       value="5" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">并发数</label>
                            <div class="layui-input-block">
                                <input type="text" name="concurrentNum" required lay-verify="required|number" placeholder="请输入并发数"
                                       value="1" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">连接超时</label>
                            <div class="layui-input-block">
                                <input type="text" name="conTimeout" required lay-verify="required|number" placeholder="请输入连接超时(ms)"
                                       value="2000" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">传输超时</label>
                            <div class="layui-input-block">
                                <input type="text" name="soTimeout" required lay-verify="required|number" placeholder="请输入传输超时(ms)"
                                       value="3000" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item" pane>
                            <label class="layui-form-label">使用代理IP</label>
                            <div class="layui-input-block">
                                <input type="checkbox" lay-filter="proxyEnabled" name="proxyEnabled"
                                       lay-skin="switch" lay-text="是|否">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text dial-hidde" id="proxy-list">
                            <label class="layui-form-label">代理IP列表</label>
                            <div class="layui-input-block">
                                <textarea name="proxyList" placeholder="请输入代理IP，一行一个" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDispatch">下发</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-col-md8 dial-right-task">
                <div class="dial-title layui-bg-green">
                    任务状态&nbsp;<i class="layui-icon">&#xe60e;</i>
                </div>
                <div class="dial-right-task-panel">
                    <!--<i class="layui-icon" style="color: #008000;">&#xe617;</i>  任务进行中-->
                    <div class="dial-task-status dial-noactive">无任务进行</div>
                </div>

                <div class="dial-title layui-bg-green">
                    任务详情&nbsp;<i class="layui-icon">&#xe63c;</i>
                </div>
                <div class="dial-right-task-panel task-detail-list">
                    无
                </div>
            </div>
        </div>
    </div>
</div>

    <script th:src="@{/framework/layui/layui.all.js}"></script>
    <script>
        layui.use(['jquery', 'form', 'element'], function(){
            var taskInterval = {};
            var $ = layui.$;
            var form = layui.form;
            var element = layui.element;
            form.on('switch(proxyEnabled)', function(data){
                var proxyEnabled = data.elem.checked;//开关是否开启，true或者false
                if (proxyEnabled) {
                    $("#proxy-list").show();
                }
                else {
                    $("#proxy-list").hide();
                }
            });

            form.on('submit(formDispatch)', function (data) {
                data.field.proxyEnabled = data.field.proxyEnabled == 'on';
                var proxyIPList = [];
                if (data.field.proxyEnabled) {
                    var proxyList = data.field.proxyList;
                    if (!proxyList) {
                        layer.msg('代理IP列表不能为空', {icon: 5, anim: 6});
                        return false;
                    }
                    var proxyIPArr = proxyList.split('\n');
                    var erroIndex = -1;
                    $.each(proxyIPArr, function (index, ip) {
                        if (checkIPV4(ip)) {
                            proxyIPList.push(ip);
                        }
                        else {
                            erroIndex = index;
                            return false;
                        }
                    });
                    if (erroIndex != -1) {
                        layer.msg('第'+ (++erroIndex) + '行不是有效的IP', {icon: 5, anim: 6});
                        return false;
                    }
                }
                data.field.proxyList = proxyIPList;

                $.ajax({
                    url:"dial",
                    type:"POST",
                    contentType:"application/json",
                    data:JSON.stringify(data.field),
                    dataType:"json",
                    success:function (res) {
                        var code = res.resultCode;
                        var msg = res.msg;
                        var html = "信息：" + msg;

                        $('.dial-task-status').removeClass('dial-noactive');
                        $(".dial-task-status").removeClass("dial-active");
                        $(".dial-task-status").removeClass("dial-running");
                        $('.dial-task-status').html('');
                        if (code == 0) {
                            $('.dial-task-status').addClass('dial-active');
                        }
                        if (code != 0) {
                            $(".dial-task-status").removeClass("dial-active");
                            $(".dial-task-status").addClass("dial-running");
                        }

                        //任务新建或运行时支持停止任务
                        if (code == 0 || code == 1) {
                            $stopAllBtn = $('<span class="dial-stopBtn" title="停止所有任务">' +
                                '<i class="layui-icon" style="font-size: 20px; color: red;">&#xe617;</i></span>');
                            $('.dial-task-status').append($stopAllBtn);
                            $('.dial-stopBtn').on('click', function () {
                                $.ajax({
                                    url:"stopAllTask",
                                    type:"post",
                                    data:{},
                                    dataType:"json",
                                    success:function (result) {
                                        layer.msg(result.result);
                                        console.log('停止计时器');
                                        //停止计时器
                                        clearInterval(taskInterval);
                                    },
                                    error:function(){
                                    }
                                });
                            });
                        }

                        $('.dial-task-status').append(html);

                        //服务端有任务信息返回，向服务器请求获取拨测任务执行进度
                        if (res.taskIdList && res.dialTestingInfo) {
                            $(".task-detail-list").html('');
                            queryTaskProgress(res.taskIdList, res.dialTestingInfo);
                        }
                    },
                    error:function(xhr,textStatus){
                        console.log('服务器处理出错');
                        console.log(xhr)
                        console.log(textStatus)
                    }
                });

                return false;
            });

            function checkIPV4(ip) {
                var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
                return reg.test(ip);
            }


            /**
             * 查看拨测任务处理进度
             * @param taskIdList
             */
            function queryTaskProgress(taskIdList, dialTestingInfo) {
                clearInterval(taskInterval);//停止之前的计时器，防止重复
                $.each(taskIdList, function (index, taskId) {
                    addDialTaskDetail(taskId, dialTestingInfo);
                });
                //2s查询一次
                taskInterval = setInterval(function(){qrySingleTaskProgress()}, 2000);
            }

            function addDialTaskDetail(taskId, dialTestingInfo) {
                var proxyIp = '';
                var arr = taskId.split('-');
                if (arr.length == 2) {
                    proxyIp = arr[0];
                    taskId = arr[1];
                }
                var dialCount = dialTestingInfo.dialCount;
                var taskDetailDiv = $('<div class="dial-right-task-detail">' +
                    '                        <div class="dial-task-name">任务 '+taskId+'</div>' +
                    '                        <div class="dial-task-ip ">' + proxyIp +
                    '                        </div>' +
                    '                        <div class="dial-task-time">' +
                    '                        </div>' +
                    '                        <hr>' +
                    '                        <div class="dial-task-visitcnt">' +
                    '                            <span class="dial-task-visitcnt-tip">拨测任务总数</span>' + dialTestingInfo.dialCount +
                    '                        </div>' +
                    '                        <div class="dial-task-visitcnt">' +
                    '                            <span class="dial-task-visitcnt-tip">实际拨测总数</span><span class="dial-finish-cnt">0</span>' +
                    '                        </div>' +
                    '                        <div class="dial-task-visitcnt">' +
                    '                            <span class="dial-task-visitcnt-tip">成功拨测总数</span><span class="dial-succ-cnt">0</span>' +
                    '                        </div>' +
                    '                        <div class="layui-progress dial-task-progress" lay-filter="filter-dial-task-progress-'+taskId.replace(/\./g, '_')+'" lay-showPercent="yes">' +
                    '                            <div class="layui-progress-bar layui-bg-orange" lay-percent="0%"></div>' +
                    '                        </div>' +
                    '                        <hr>' +
                    '                        <div style="text-align: center;margin-bottom: 5px">' +
                    '                            <button id="showTaskDetail-'+ taskId.replace(/\./g, '_') +'" class="layui-btn layui-btn-xs layui-btn-primary layui-btn-disabled">查看详情</button>' +
                    '                        </div>' +
                    '                    </div>');
                taskDetailDiv.attr("id", "dial-task-progress-" + taskId.replace(/\./g, '_'));
                $('.task-detail-list').append(taskDetailDiv);
                element.render('progress');
            }

            function qrySingleTaskProgress() {
                $.ajax({
                    url:"qryTaskProgress",
                    type:"get",
                    data:{},
                    dataType:"json",
                    success:function (result) {
                        if (result) {
                            if (result.taskMap && result.taskResultMap && result.dialTestingInfo) {

                                var taskCnt = 0;
                                var finishTaskCnt = 0;
                                $.each(result.taskMap, function (taskId, finishedVisitList) {
                                    $currTaskPanel = $("#dial-task-progress-" + taskId.replace(/\./g, '_'));
                                    taskCnt++;
                                    var arr = taskId.split('-');
                                    var dialCount = result.dialTestingInfo.dialCount;
                                    var proxyIp = '';
                                    var arr = taskId.split('-');
                                    if (arr.length == 2) {
                                        proxyIp = arr[1];
                                    }
                                    var finishedVisitCnt = finishedVisitList[0];
                                    var successVisitCnt = finishedVisitList[1];
                                    $currTaskPanel.children('div.dial-task-visitcnt:eq(1)').children('span.dial-finish-cnt').html(finishedVisitCnt);
                                    $currTaskPanel.children('div.dial-task-visitcnt:eq(2)').children('span.dial-succ-cnt').html(successVisitCnt);
                                    var finishPercent = (finishedVisitCnt * 100 / parseInt(dialCount)).toFixed(2) + '%';
                                    element.progress('filter-dial-task-progress-' + taskId.replace(/\./g, '_'), finishPercent);
                                    $timeDiv = $currTaskPanel.children("div.dial-task-time");
                                    var resultJson;
                                    if (result.taskResultMap) {
                                        resultJson = result.taskResultMap[taskId];
                                        $timeDiv.html(resultJson.begin);
                                    }
                                    var notFinished = $("#showTaskDetail-" + taskId.replace(/\./g, '_')).hasClass('layui-btn-disabled');
                                    if (finishedVisitCnt == dialCount) {
                                        //此线程已完成所有访问请求
                                        finishTaskCnt++;
                                        if (notFinished && resultJson) {
                                            $timeDiv.html(resultJson.begin + '<br>' + resultJson.end);
                                            var $showBtn = $("#showTaskDetail-" + taskId.replace(/\./g, '_'));
                                            $showBtn.removeClass('layui-btn-disabled');
                                            $showBtn.on('click', function () {
                                                var that = this;
                                                var content = '<div class="dial-task-rspcode">' +
                                                    '    <span class="dial-task-rspcode-tip">返回码200</span>' +
                                                    '    <span class="layui-badge layui-bg-green">' + resultJson.count200Ok + '</span>' +
                                                    '</div>' +
                                                    '<div class="dial-task-rspcode">' +
                                                    '    <span class="dial-task-rspcode-tip">返回码403</span>' +
                                                    '    <span class="layui-badge layui-bg-orange">' + resultJson.count403 + '</span>' +
                                                    '</div>' +
                                                    '<div class="dial-task-rspcode">' +
                                                    '    <span class="dial-task-rspcode-tip">返回码500</span>' +
                                                    '    <span class="layui-badge">' + resultJson.count500 + '</span>' +
                                                    '</div>' +
                                                    '<div class="dial-task-rspcode">' +
                                                    '    <span class="dial-task-rspcode-tip">超时</span>' +
                                                    '    <span class="layui-badge-rim">' + resultJson.countOther + '</span>' +
                                                    '</div>'
                                                layer.tips(content, that, {
                                                    tips: [3, '#43CBFF']
                                                });
                                            });
                                        }
                                    }
                                });

                                console.log("finishTaskCnt:" + finishTaskCnt + ', taskCnt:' + taskCnt);
                                if (finishTaskCnt == taskCnt) {
                                    console.log('停止计时器');
                                    //停止计时器
                                    clearInterval(taskInterval);
                                }
                            }
                        }
                    },
                    error:function (xhr,textStatus) {
                        console.log('服务器处理出错');
                        console.log(xhr)
                        console.log(textStatus)
                    }
                });
            }
        });
    </script>
    <script>

        var taskInterval = {};

        function submitDial() {
            var url = $("#url").val();
            var dialCnt = $("#dialCnt").val();
            var interval = $("#interval").val();
            var concurrentNum = $("#concurrentNum").val();
            var conTimeout = $("#conTimeout").val();
            var soTimeout = $("#soTimeout").val();
            var proxyEnabled = $("#proxyEnabled").is(":checked");
            var proxyList = $("#proxyList").val();

            if (proxyEnabled) {

                proxyList.replace(/\r\n/g, ',').replace(/\n/g, ',');
            }
            var data = {};
            data.url = url;
            data.dialCnt = dialCnt;
            data.interval = interval;
            data.concurrentNum = concurrentNum;
            data.conTimeout = conTimeout;
            data.soTimeout = soTimeout;
            data.proxyEnabled = proxyEnabled;
            data.proxyList = proxyList.replace(/\r\n/g, ',').replace(/\n/g, ',');

            $.ajax({
                url:"dial",
                type:"POST",
                data:data,
                dataType:"json",
                success:function (res) {
                    var code = res.resultCode;
                    var msg = res.msg;
                    var html = "信息：" + msg;
                    $(".dial-server-resp").html(html);
                    if (code != 0) {
                        $(".dial-server-resp").removeClass("dial-server-resp-succ");
                        $(".dial-server-resp").addClass("dial-server-resp-error");
                    }
                    else {
                        $(".dial-server-resp").removeClass("dial-server-resp-error");
                        $(".dial-server-resp").addClass("dial-server-resp-succ");
                    }

                    //服务端有任务信息返回，向服务器请求获取拨测任务执行进度
                    if (res.taskIdList) {
                        $(".dial-detail").html('');
                        queryTaskProgress(res.taskIdList);
                    }
                },
                error:function(xhr,textStatus){
                    console.log('服务器处理出错');
                    $(".dial-server-resp").html('服务器处理出错!!');
                    $(".dial-server-resp").removeClass("dial-server-resp-succ");
                    $(".dial-server-resp").addClass("dial-server-resp-error");
                    console.log(xhr)
                    console.log(textStatus)
                }
            });
            return false;
        }

        /**
         * 查看拨测任务处理进度
         * @param taskIdList
         */
        function queryTaskProgress(taskIdList) {
            $.each(taskIdList, function (index, taskId) {
                clearInterval(taskInterval);//停止之前的计时器，防止重复
                var taskDiv = $("<div>[任务" + taskId + "] 拨测进行中。。</div>");
                taskDiv.addClass("dial-task-progress");
                taskDiv.attr("id", "dial-task-progress-" + taskId.replace(/\./g, '_'));
                $(".dial-detail").append(taskDiv);
            });
            //2s查询一次
            taskInterval = setInterval(function(){qrySingleTaskProgress()}, 2000);
        }
        
        function qrySingleTaskProgress() {
            $.ajax({
                url:"qryTaskProgress",
                type:"get",
                data:{},
                dataType:"json",
                success:function (result) {
                    if (result) {
                        if (result.taskMap) {
                            var taskCnt = 0;
                            var finishTaskCnt = 0;
                            $.each(result.taskMap, function (taskId, finishedVisitCnt) {
                                taskCnt++;
                                var arr = taskId.split('-');
                                var dialCnt = 1;
                                if (arr.length == 2) {
                                    dialCnt = arr[0];
                                }
                                else {
                                    dialCnt = arr[1];
                                }
                                var finishPercent = (finishedVisitCnt * 100 / parseInt(dialCnt)).toFixed(2) + '%';
                                var resultStatic = '';
                                if (finishedVisitCnt == dialCnt) {
                                    //此线程已完成所有访问请求
                                    finishTaskCnt++;
                                    if (result.taskResultMap) {
                                        var resultJson = result.taskResultMap[taskId];
                                        if (resultJson) {
                                            resultStatic += '<br>时间：' + resultJson.begin
                                            + ' ~ ' + resultJson.end + '<br><span class="dial-static-total">总访问量数：' + resultJson.totalCnt
                                            + '</span><span class="dial-static-200">返回码200：' + resultJson.count200Ok + '</span>'
                                            + '<span class="dial-static-403">返回码403：' + resultJson.count403
                                            + '</span><span class="dial-static-500">返回码500：' + resultJson.count500 + '</span>'
                                            + '<span class="dial-static-other">超时：' + resultJson.countOther + '</span>';

                                            $("#dial-task-progress-" + taskId.replace(/\./g, '_')).html("[任务" + taskId + "]处理完成" + resultStatic);
                                        }
                                    }
                                }
                                else {
                                    $("#dial-task-progress-" + taskId.replace(/\./g, '_')).html("[任务" + taskId + "] 应请求 "+dialCnt+"次，" +
                                        " 当前已完成请求 ["+finishedVisitCnt+"]次，完成百分比：" + finishPercent);
                                }
                            });
                            if (finishTaskCnt == taskCnt) {
                                //停止计时器
                                clearInterval(taskInterval);
                            }
                        }
                    }
                },
                error:function (xhr,textStatus) {
                    console.log('服务器处理出错');
                    console.log(xhr)
                    console.log(textStatus)
                }
            });
        }
        
    </script>
</body>
</html>